Models/RobotSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    targetNamespace="http://tempuri.org/RobotSchema.xsd"
    xmlns:tns="http://tempuri.org/RobotSchema.xsd"
    xmlns="http://tempuri.org/RobotSchema.xsd"
    xmlns:mstns="http://tempuri.org/RobotSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
>
  <!-- All Ids that are -1 are considered invalid" -->
  
  <xs:simpleType name="ItemName">
    <xs:restriction base="xs:token">
      <xs:pattern value="^([0-9]|[a-z]|[A-Z]|_)+$"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnalogInputId">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DigitalInputId">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PWMOutputId">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RelayOutputId">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CANId">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="-1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RawAnalogInput">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="4095"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RawSRXInput">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1023"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="Robot" type="tns:Robot"/>
  
  <xs:complexType name="Robot">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="Subsystem" type="tns:Subsystem" maxOccurs="unbounded"/>
      <!--<xs:element name="EventHandler" type="tns:EventHandler" maxOccurs="unbounded"/>
      <xs:element name="ContinuousCommand" type="tns:ContinuousCommand" maxOccurs="unbounded"/>-->
    </xs:sequence>
    <xs:attribute name="TeamNumber" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger">
          <xs:totalDigits value="4"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute> 
    <xs:attribute name="AnalogInputSampleRate" default="62500">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger">
          <xs:maxInclusive value="62500"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="EventHandler">
    <xs:attribute name="Name" type="xs:string" use="required"/>
  </xs:complexType>
  
    
  <xs:complexType name="Subsystem">
    <xs:sequence>
      <xs:element name="PWMOutput" type="tns:PWMOutput" minOccurs="0" maxOccurs="10"/>
      <xs:choice minOccurs="0" maxOccurs="10">
        <xs:element name="AnalogInput" type="tns:AnalogInput"/>     
        <xs:element name="Potentiometer" type="tns:Potentiometer"/>
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="5">
        <xs:element name="QuadEncoder" type="tns:QuadEncoder" minOccurs="1" maxOccurs="1"/>
        <xs:element name="DigitalInput" type="tns:DigitalInput" minOccurs="1" maxOccurs="2"/>
      </xs:choice>
      <xs:element name="RelayOutput" type="tns:RelayOutput" minOccurs="0" maxOccurs="4"/>
      <xs:element name="CANTalons" type="tns:CANTalon" minOccurs="0" maxOccurs="unbounded"/><!--realistically this won't be that large-->
      <xs:element name="PIDController" type="tns:PIDControllerSoftware" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Name" type="tns:ItemName" use="required"/>
    <xs:attribute name="SoftwarePIDEnabled" type="xs:boolean" default="false"/>
  </xs:complexType>
    
  <xs:complexType name="AnalogInput">
    <xs:attribute name="ID" type="tns:AnalogInputId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName" use="required"/>
    <xs:attribute name="AccumulatorCenter" type="tns:RawAnalogInput" default="2048"/>
    <xs:attribute name="accumulatorDeadBand" type="tns:RawAnalogInput" use="required"/>
    <xs:attribute name="AccumulatorInitialValue" type="tns:RawAnalogInput" default="0"/>
    <xs:attribute name="AverageBits" type="xs:int" use="required"/> <!--What are the limitations on this and the one below it-->
    <xs:attribute name="OversampleBits" type="xs:int" use="required"/>
    <xs:attribute name="ConversionRatio" type="xs:double" default="1"/><!--converts 12 bit input to usable output-->
    <xs:attribute name="CensorOffset" type="xs:double" default="0"/> <!--offset (post conversion)-->
  </xs:complexType>
  
  <xs:complexType name="Potentiometer">
    <xs:attribute name="ID" type="tns:AnalogInputId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName" use="required"/>
    <xs:attribute name="ConversionRatio" type="xs:double" default="1"/><!--converts 12 bit input to usable output-->
    <xs:attribute name="SensorOffset" type="xs:double" default="0"/> <!--offset (post conversion)-->
  </xs:complexType>
  
  <xs:complexType name="PIDControllerSoftware">
    <xs:attribute name="P" type="xs:double"/>
    <xs:attribute name="I" type="xs:double"/>
    <xs:attribute name="D" type="xs:double"/>
    <xs:attribute name="F" type="xs:double"/>
    <xs:attribute name="Tolerance" type="xs:double"/>
    <xs:attribute name="CycleDuration" type="xs:double"/>
    <xs:attribute name="Continuous" type="xs:boolean"/>
  </xs:complexType>
  
  <xs:simpleType name="PIDSource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Displacement"/>
      <xs:enumeration value="Speed"/>
    </xs:restriction>
  </xs:simpleType>
    
  <xs:complexType name="PIDControllerSRX">
    <xs:attribute name="P" type="xs:double"/>
    <xs:attribute name="I" type="xs:double"/>
    <xs:attribute name="D" type="xs:double"/>
    <xs:attribute name="F" type="xs:double"/>    
    <xs:attribute name="IZone" type="xs:int"/>
    <xs:attribute name="CloseLoopRampRate" type="xs:double"/>
    <xs:attribute name="AllowableCloseLoopError" type="tns:RawSRXInput"/>
    <xs:attribute name="Source" type="tns:PIDSource"/>
  </xs:complexType>
    
  <xs:complexType name="PWMOutput">
    <xs:attribute name="ID" type="tns:PWMOutputId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName"/>
  </xs:complexType>
  
  <xs:complexType name="RelayOutput">
    <xs:attribute name="ID" type="tns:RelayOutputId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="DigitalInput">
    <xs:attribute name="ID" type="tns:DigitalInputId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName"/>
  </xs:complexType>
  
  <xs:complexType name="QuadEncoder">
    <xs:attribute name="ID" type="tns:DigitalInputId" default="-1"/>
    <xs:attribute name="ID1" type="tns:DigitalInputId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName"/>
    <xs:attribute name="ConversionRatio" type="xs:double" default="1"/><!--converts encoder units to usable ones-->
  </xs:complexType>
  
  <xs:simpleType name="CANTalonFeedbackDevice">
    <xs:restriction base="xs:string">
      <xs:enumeration value="QuadEncoder"/>
      <xs:enumeration value="AnalogPotentiometer"/>
      <xs:enumeration value="AnalogEncoder"/>
      <xs:enumeration value="EncoderRising"/>
      <xs:enumeration value="EncoderFalling"/>
      <xs:enumeration value="CtreMagEncoderRelative"/>
      <xs:enumeration value="CtreMagEncoderAbsolute"/>
      <xs:enumeration value="PulseWidth"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CANTalonControlMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PercentVbus"/>
      <xs:enumeration value="Position"/>
      <xs:enumeration value="Speed"/>
      <xs:enumeration value="Current"/>
      <xs:enumeration value="Voltage"/>
      <xs:enumeration value="Follower"/>
      <xs:enumeration value="MotionProfile"/>
      <xs:enumeration value="Disabled"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CANTalonNeutralMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Jumper"/>
      <xs:enumeration value="Brake"/>
      <xs:enumeration value="Coast"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CANTalonLimitMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SwitchInputsOnly"/>
      <xs:enumeration value="SoftPositionLimits"/>
      <xs:enumeration value="SrxDisableSwitchInputs"/>
    </xs:restriction>    
  </xs:simpleType>
    
  <xs:complexType name="CANTalon">
    <xs:sequence>
      <xs:choice>
        <xs:element name="AnalogInput" type="tns:AnalogInput"/>
        <xs:element name="Potentiometer" type="tns:Potentiometer"/>
      </xs:choice>
      <xs:element name="QuadEncoder" type="tns:QuadEncoder" maxOccurs="1"/>
      <xs:element name="PIDConfig0" type="tns:PIDControllerSRX" maxOccurs="1"/>
      <xs:element name="PIDConfig1" type="tns:PIDControllerSRX" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="ID" type="tns:CANId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName" use="required"/>
    <xs:attribute name="EnabledPIDProfile" type="xs:boolean" default="0"/>
    <xs:attribute name="FeedbackDevice" type="tns:CANTalonFeedbackDevice" default="QuadEncoder"/>
    <xs:attribute name="ControlMode" type="tns:CANTalonControlMode" default="PercentVbus"/>
    <xs:attribute name="NeutralMode" type="tns:CANTalonNeutralMode" default="Coast"/>
    <xs:attribute name="ZeroSensorPositionOnIndexEnabled" type="xs:boolean" default="false"/>
    <xs:attribute name="ZeroSensorPositionOnRisingEdge" type="xs:boolean" default="false"/>
    <xs:attribute name="ReverseSensor" type="xs:boolean" default="false"/>
    <xs:attribute name="ReverseClosedLoopOutput" type="xs:boolean" default="false"/>
    <xs:attribute name="ReversePercentVBusOutput" type="xs:boolean" default="false"/>
    <xs:attribute name="ForwardLimitSwitchEnabled" type="xs:boolean" default="false"/>
    <xs:attribute name="ReverseLimitSwitchEnabled" type="xs:boolean" default="false"/>
    <xs:attribute name="ForwardSoftLimitEnabled" type="xs:boolean" default="false"/>
    <xs:attribute name="ReverseSoftLimitEnabled" type="xs:boolean" default="false"/>
    <xs:attribute name="ForwardSoftLimit" type="xs:double" default="0"/>
    <xs:attribute name="ReverseSoftLimit" type="xs:double" default="0"/>
    <xs:attribute name="NominalForwardVoltage" type="xs:double" default="0"/>
    <xs:attribute name="NominalReverseVoltage" type="xs:double" default="0"/>
    <xs:attribute name="PeakForwardVoltage" type="xs:double"  default="12"/>
    <xs:attribute name="PeakReverseVoltage" type="xs:double" default="-12"/>  
  </xs:complexType>
 
</xs:schema>
