Models/RobotSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Generate using "xsd /c /edb /n:"Team1922.MVVM.Models" RobotSchema.xsd"-->
<xs:schema
    targetNamespace="http://github.com/Team-1922/OzRobotBuilder.NET/blob/master/Models/RobotSchema.xsd"
    xmlns:tns="http://github.com/Team-1922/OzRobotBuilder.NET/blob/master/Models/RobotSchema.xsd"
    xmlns="http://github.com/Team-1922/OzRobotBuilder.NET/blob/master/Models/RobotSchema.xsd"
    xmlns:mstns="http://github.com/Team-1922/OzRobotBuilder.NET/blob/master/Models/RobotSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
>
  <!-- All Ids that are -1 are considered invalid" -->
  
  <xs:simpleType name="ItemName">
    <xs:restriction base="xs:token">
      <xs:pattern value="^([0-9]|[a-z]|[A-Z]|_)+$"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PathName">
    <xs:restriction base="xs:token">
      <xs:pattern value="^([0-9]|[a-z]|[A-Z]|_|\.)*$"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnalogInputId">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DigitalInputId">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PWMOutputId">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RelayOutputId">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CANId">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="JoystickId">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="JoystickButtonId">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-1"/>
      <xs:pattern value="^[^0].*"/><!--DO NOT match the number zero-->
      <xs:maxInclusive value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="JoystickAxisId">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RawAnalogInput">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="4095"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RawSRXInput">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1023"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NormalizedDouble">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="-1"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="XPath">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="TeamNumber">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnalogInputSampleRate">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="62500"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PortNumber">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1025"/>
      <xs:maxInclusive value="65536"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="Robot" type="tns:Robot"/>
  
  <xs:complexType name="Robot">
    <xs:sequence minOccurs="0">
      <xs:element name="Subsystem" type="tns:Subsystem" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Joystick" type="tns:Joystick" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="EventHandler" type="tns:EventHandler" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RobotMap" type="tns:RobotMap" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="TeamNumber" type="tns:TeamNumber" use="required"/>
    <xs:attribute name="AnalogInputSampleRate" type="tns:AnalogInputSampleRate" default="62500"/>
    <xs:attribute name="ModifyPortNumber" type="tns:PortNumber" default="8082"/>
    <xs:attribute name="UpdatesPortNumber" type="tns:PortNumber" default="8083"/>
  </xs:complexType>
    
  <xs:complexType name="JoystickAxis">
    <xs:attribute name="ID" type="tns:JoystickAxisId" use="required"/>
    <xs:attribute name="Value" type="tns:NormalizedDouble" default="0"/>
  </xs:complexType>
  <xs:complexType name="JoystickButton">
    <xs:attribute name="ID" type="tns:JoystickButtonId" use="required"/>
    <xs:attribute name="Value" type="xs:boolean" default="false"/>
  </xs:complexType>
  <xs:complexType name="Joystick">
    <xs:sequence minOccurs="0">
      <!--State Values-->
      <xs:element name="Axis" type="tns:JoystickAxis" minOccurs="0" maxOccurs="5"/>
      <xs:element name="Button" type="tns:JoystickButton" minOccurs="0" maxOccurs="12"/>
    </xs:sequence>
    <xs:attribute name="Name" type="tns:ItemName" use="required"/>
    <xs:attribute name="ID" type="tns:JoystickId" default="-1"/>
  </xs:complexType>
    
  <!--This is an all-purpose event handler-->
  <xs:complexType name="EventHandler">
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="Expression" type="xs:string" use="required"/>
    <xs:attribute name="Condition" type="xs:string" use="required"/>
    <!--State Values-->
    <xs:attribute name="ConditionMet" type="xs:boolean" default="false"/>
  </xs:complexType>

  <xs:complexType name="RobotMapEntry">
    <xs:attribute name="Key" type="tns:ItemName" use="required"/>
    <xs:attribute name="Value" use="required"/>
  </xs:complexType>
  <xs:complexType name="RobotMap">
    <xs:sequence minOccurs="0">
      <xs:element name="Entry" type="tns:RobotMapEntry" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Subsystem">
    <xs:sequence minOccurs="0">
      <xs:element name="PWMOutput" type="tns:PWMOutput" minOccurs="0" maxOccurs="10"/>
      <xs:element name="AnalogInput" type="tns:AnalogInput" minOccurs="0" maxOccurs="4"/>     
      <xs:element name="QuadEncoder" type="tns:QuadEncoder" minOccurs="0" maxOccurs="5"/>
      <xs:element name="DigitalInput" type="tns:DigitalInput" minOccurs="0" maxOccurs="10"/>
      <xs:element name="RelayOutput" type="tns:RelayOutput" minOccurs="0" maxOccurs="4"/>
      <xs:element name="CANTalons" type="tns:CANTalon" minOccurs="0" maxOccurs="unbounded"/><!--realistically this won't be that large-->
      <xs:element name="PIDController" type="tns:PIDControllerSoftware" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Name" type="tns:ItemName" use="required"/>
    <xs:attribute name="SoftwarePIDEnabled" type="xs:boolean" default="false"/>
  </xs:complexType>
    
  <!--This is for all analog inputs-->
  <xs:complexType name="AnalogInput">
    <xs:attribute name="ID" type="tns:AnalogInputId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName" use="required"/>
    <xs:attribute name="AccumulatorCenter" type="tns:RawAnalogInput" default="2048"/>
    <xs:attribute name="AccumulatorDeadband" type="tns:RawAnalogInput" default="0"/>
    <xs:attribute name="AccumulatorInitialValue" type="tns:RawAnalogInput" default="0"/>
    <xs:attribute name="AverageBits" type="xs:int" default="0"/> <!--What are the limitations on this and the one below it-->
    <xs:attribute name="OversampleBits" type="xs:int" default="0"/>
    <xs:attribute name="ConversionRatio" type="xs:double" default="1"/><!--converts 12 bit input to usable output-->
    <xs:attribute name="SensorOffset" type="xs:double" default="0"/> <!--offset (post conversion)-->
    <!--State Values-->
    <xs:attribute name="RawValue" type="tns:RawAnalogInput" default="0"/>
    <xs:attribute name="RawAverageValue" type="xs:long" default="0"/>
    <xs:attribute name="RawAccumulatorValue" type="xs:long" default="0"/>
    <xs:attribute name="Value" type="xs:double" default="0"/>
    <xs:attribute name="AverageValue" type="xs:double" default="0"/>
    <xs:attribute name="AccumulatorCount" type="xs:long" default="0"/>
    <xs:attribute name="AccumulatorValue" type="xs:double" default="0"/><!--NOTE: this is post-conversion-->
  </xs:complexType>
      
  <xs:complexType name="PWMOutput">
    <xs:attribute name="ID" type="tns:PWMOutputId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName"/>
    <!--State Values-->
    <xs:attribute name="Value" type="tns:NormalizedDouble" default="0"/>
  </xs:complexType>
  
  <xs:simpleType name="RelayDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ForwardOnly"/>
      <xs:enumeration value="ReverseOnly"/>
      <xs:enumeration value="Both"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RelayValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off"/>
      <xs:enumeration value="Forward"/>
      <xs:enumeration value="Reverse"/>
      <xs:enumeration value="On"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RelayOutput">
    <xs:attribute name="ID" type="tns:RelayOutputId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName" use="required"/>
    <!--State Values-->
    <xs:attribute name="Direction" type="tns:RelayDirection" default="ForwardOnly"/>
    <xs:attribute name="Value" type="tns:RelayValue" default="Off"/>
  </xs:complexType>
  
  <xs:complexType name="DigitalInput">
    <xs:attribute name="ID" type="tns:DigitalInputId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName"/>
    <!--State Values-->
    <xs:attribute name="Value" type="xs:boolean" default="false"/>
  </xs:complexType>
  
  <xs:complexType name="QuadEncoder">
    <xs:attribute name="ID" type="tns:DigitalInputId" default="-1"/>
    <xs:attribute name="ID1" type="tns:DigitalInputId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName"/>
    <xs:attribute name="ConversionRatio" type="xs:double" default="1"/><!--converts encoder units to usable ones-->
    <!--State Values-->
    <xs:attribute name="RawValue" type="xs:long" default="0"/>
    <xs:attribute name="Value" type="xs:double" default="0"/>
    <xs:attribute name="RawVelocity" type="xs:double" default="0"/>
    <xs:attribute name="Velocity" type="xs:double" default="0"/>
  </xs:complexType>
  
  
  <xs:complexType name="PIDControllerSoftware">
    <xs:attribute name="P" type="xs:double" use="required"/>
    <xs:attribute name="I" type="xs:double" use="required"/>
    <xs:attribute name="D" type="xs:double" use="required"/>
    <xs:attribute name="F" type="xs:double" default="0"/>
    <xs:attribute name="Tolerance" type="xs:double" use="required"/>
    <xs:attribute name="CycleDuration" type="xs:double" default=".02"/>
    <xs:attribute name="Continuous" type="xs:boolean" default="false"/>
  </xs:complexType>
      
  
  <xs:complexType name="PIDControllerSRX">
    <xs:attribute name="P" type="xs:double" use="required"/>
    <xs:attribute name="I" type="xs:double" use="required"/>
    <xs:attribute name="D" type="xs:double" use="required"/>
    <xs:attribute name="F" type="xs:double" default="0"/>    
    <xs:attribute name="IZone" type="xs:int" default="0"/>
    <xs:attribute name="CloseLoopRampRate" type="xs:double" default="9001"/><!--note: this value is in V/S and defaults to something rediculous intentionally-->
    <xs:attribute name="AllowableCloseLoopError" type="tns:RawSRXInput" use="required"/>
    <xs:attribute name="SourceType" type="tns:CANTalonDifferentiationLevel" use="required"/>
  </xs:complexType>
  <xs:simpleType name="CANTalonFeedbackDevice">
    <xs:restriction base="xs:string">
      <xs:enumeration value="QuadEncoder"/>
      <xs:enumeration value="AnalogPotentiometer"/>
      <xs:enumeration value="AnalogEncoder"/>
      <xs:enumeration value="EncoderRising"/>
      <xs:enumeration value="EncoderFalling"/>
      <xs:enumeration value="CtreMagEncoderRelative"/>
      <xs:enumeration value="CtreMagEncoderAbsolute"/>
      <xs:enumeration value="PulseWidth"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CANTalonControlMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PercentVbus"/>
      <xs:enumeration value="Position"/>
      <xs:enumeration value="Speed"/>
      <xs:enumeration value="Current"/>
      <xs:enumeration value="Voltage"/>
      <xs:enumeration value="Follower"/>
      <xs:enumeration value="MotionProfile"/>
      <xs:enumeration value="Disabled"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CANTalonNeutralMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Jumper"/>
      <xs:enumeration value="Brake"/>
      <xs:enumeration value="Coast"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CANTalonLimitMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SwitchInputsOnly"/>
      <xs:enumeration value="SoftPositionLimits"/>
      <xs:enumeration value="SrxDisableSwitchInputs"/>
    </xs:restriction>    
  </xs:simpleType>
  <xs:simpleType name="CANTalonDifferentiationLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Displacement"/>
      <xs:enumeration value="Speed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CANTalonNativeUnits">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1023"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CANTalonAnalogInput">
    <xs:attribute name="RawValue" type="tns:CANTalonNativeUnits" default="0"/>
    <xs:attribute name="RawVelocity" type="xs:double" default="0"/>
    <xs:attribute name="Value" type="xs:double" default="0"/>
    <xs:attribute name="Velocity" type="xs:double" default="0"/>
    <xs:attribute name="ConversionRatio" type="xs:double" default="1"/><!--user units/Native units-->
    <xs:attribute name="SensorOffset" type="xs:double" default="0"/>
  </xs:complexType>
  <xs:complexType name="CANTalonQuadEncoder">
    <xs:attribute name="RawValue" type="xs:long" default="0"/>
    <xs:attribute name="RawVelocity" type="xs:double" default="0"/>
    <xs:attribute name="Value" type="xs:double" default="0"/>
    <xs:attribute name="Velocity" type="xs:double" default="0"/>
    <xs:attribute name="ConversionRatio" type="xs:double" default="1"/><!--user units/encoder units-->
    <xs:attribute name="SensorOffset" type="xs:double" default="0"/>
  </xs:complexType>
    
  <xs:complexType name="CANTalon">
    <xs:all>
      <xs:element name="AnalogInput" type="tns:CANTalonAnalogInput" minOccurs="0" maxOccurs="1"/>
      <xs:element name="QuadEncoder" type="tns:CANTalonQuadEncoder" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PIDConfig0" type="tns:PIDControllerSRX" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PIDConfig1" type="tns:PIDControllerSRX" minOccurs="0" maxOccurs="1"/>
    </xs:all>
    <xs:attribute name="ID" type="tns:CANId" default="-1"/>
    <xs:attribute name="Name" type="tns:ItemName" use="required"/>
    <xs:attribute name="EnabledPIDProfile" type="xs:boolean" default="0"/>
    <xs:attribute name="FeedbackDevice" type="tns:CANTalonFeedbackDevice" default="QuadEncoder"/>
    <xs:attribute name="ControlMode" type="tns:CANTalonControlMode" default="PercentVbus"/>
    <xs:attribute name="NeutralMode" type="tns:CANTalonNeutralMode" default="Coast"/>
    <xs:attribute name="ZeroSensorPositionOnIndexEnabled" type="xs:boolean" default="false"/>
    <xs:attribute name="ZeroSensorPositionOnRisingEdge" type="xs:boolean" default="false"/>
    <xs:attribute name="ReverseSensor" type="xs:boolean" default="false"/>
    <xs:attribute name="ReverseClosedLoopOutput" type="xs:boolean" default="false"/>
    <xs:attribute name="ReversePercentVBusOutput" type="xs:boolean" default="false"/>
    <xs:attribute name="ForwardLimitSwitchEnabled" type="xs:boolean" default="false"/>
    <xs:attribute name="ReverseLimitSwitchEnabled" type="xs:boolean" default="false"/>
    <xs:attribute name="ForwardSoftLimitEnabled" type="xs:boolean" default="false"/>
    <xs:attribute name="ReverseSoftLimitEnabled" type="xs:boolean" default="false"/>
    <xs:attribute name="ForwardSoftLimit" type="xs:double" default="0"/>
    <xs:attribute name="ReverseSoftLimit" type="xs:double" default="0"/>
    <xs:attribute name="NominalForwardVoltage" type="xs:double" default="0"/>
    <xs:attribute name="NominalReverseVoltage" type="xs:double" default="0"/>
    <xs:attribute name="PeakForwardVoltage" type="xs:double"  default="12"/>
    <xs:attribute name="PeakReverseVoltage" type="xs:double" default="-12"/>
    <!--State Values-->
    <xs:attribute name="Value" type="xs:double" default="0"/>
    <xs:attribute name="ForwardLimitSwitch" type="xs:boolean" default="0"/>
    <xs:attribute name="ReverseLimitSwitch" type="xs:boolean" default="0"/>
    <xs:attribute name="ForwardSoftLimitTripped" type="xs:boolean" default="0"/>
    <xs:attribute name="ReverseSoftLimitTripped" type="xs:boolean" default="0"/>
  </xs:complexType>
 
</xs:schema>
